@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a202c;
    }
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #646464;
    border-radius: 0.5rem;
}

.slide-up {
    transform: translateY(0.8rem);
    transition: transform 0.4s;
}

.slide-up:hover {
    transform: translateY(0);
}
